<!DOCTYPE html>
<html ng-app='bookApp'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular Resource Lab</title>
  <base href="/">


  <!-- Bower Components -->
  <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>


  <!-- APP CSS -->
  <link rel="stylesheet" href="styles.css">

  <!-- App JS -->
  <script src="app.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>


</head>
<body ng-controller="BooksController as bc">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="books-index">BookApp</a>
    </div><!-- /.navbar-collapse -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <li><a ui-sref="home">Home</a></li>
      </ul>
  </div><!-- /.container-fluid -->
  </nav>
  
  <input type="text" ng-model="bc.newBook.title" placeholder="Title"><br>
  <input type="text" ng-model="bc.newBook.author" placeholder="Author"><br>
  <input type="text" ng-model="bc.newBook.image"  placeholder="www.image.url/your_image_here/"><br>
  <button class="btn btn-success" ng-click="bc.createBook()">Save New Book!</button>
    
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="col-md-12" ng-repeat="book in bc.books">
          
          <div class="header col-md-12">
            <h3>{{ book.title }}</h3>
          </div>
          <div class="body col-md-4">
            <img class="judgement" src="{{ book.image }}">
          </div>
          <div class="body col-md-8">
            <p ng-show="!book.showEditForm"><strong>{{ book.title }}</strong> by {{ book.author }}</p>
            <form ng-show="book.showEditForm">
              <input type="text" ng-model="book.title"><br>
              <input type="text" ng-model="book.author"><br>
              <input type="text" ng-model="book.image"><br>
              <button class="btn btn-success" ng-show="book.showEditForm" ng-click="book.showEditForm = !book.showEditForm; bc.updateBook(book)">Save</button>
            </form>
              
          </div>
          <div class="footer col-md-12">
            <button class="btn btn-primary" ng-show="!book.showEditForm" ng-click="book.showEditForm = !book.showEditForm">Edit</button>
            <button class="btn btn-primary" ng-show="book.showEditForm" ng-click="book.showEditForm = !book.showEditForm">Cancel</button>
            <button class="btn btn-danger" ng-click="bc.deleteBook(book)">Delete</button>
          </div>
        </div>

        <!-- TODO: Display crud-able list of books -->

    </div>
  </div>

</body>
</html>
